.survey {
	margin-top: 2em;
	margin-bottom: 2em;
}

.survey .footer {
	margin-top: 2em;
}

.survey .btn {
  display: inline;
}

.container {
  display: flex;
	margin-top: 2em;
	margin-bottom: 2em;
}

.container > *:first-child {
  width: 200%;
	padding: 1em;
	font-family: "Open Sans";
  font-size: 100%;
  background-color: #fff;
  border: 1pt solid #eee;
  border-radius: 0.5em;
}

.container > *:last-child {
  width: 50%;
  margin-left: 2em;
  margin-right: 1em;
}

.container > *:last-child .btn {
  display: inline;
}

.container > *:last-child .footer {
	margin-top: 2em;
}

u {
  color: blue;
  cursor: pointer;
}

/* loader */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}